body {
  background-color: #2C2C2C;
  font-family: Arial, sans-serif;
  color: #E0E0E0;
}
#typing-area {
  max-width: none;
  width: 90%;
  margin: 50px auto;
  padding: 20px;
}
#target-text, #text-wrapper {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: monospace;
  white-space: nowrap;
  overflow-x: auto;
}
#target-text {
  color: #B0B0B0;
  font-weight: normal;
  margin-top: 50px;
}
#text-wrapper {
  position: relative;
}
#interactive-text, #highlighted-text {
  width: 100%;
  padding: 10px 0;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-family: monospace;
  line-height: 1.5;
  overflow-x: auto;
  overflow-y: hidden;
  resize: none;
  font-weight: 450;
  color: #F0F0F0;
  white-space: nowrap;
}
#interactive-text {
  border: none;
  position: relative;
  z-index: 1;
  caret-color: transparent;
}
#highlighted-text {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  word-wrap: normal;
  border: none;
  z-index: 0;
}
.error {
  background-color: #FF4C4C;
  color: #2C2C2C;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
#text-wrapper::after {
  content: '|';
  color: #FFD700;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 8px;
  left: -3px;
  opacity: 0;
}
#text-wrapper.focused::after {
  animation: blink 1s step-end infinite;
}
#text-wrapper::after {
  left: var(--cursor-left, -3px);
}
